* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
 }
 
 @font-face {
    font-family: 'Codec';
    src: local('codec pro bold'), local('codec-pro-bold'),
    url(/fonts/codec-pro-bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
   }

 body{
     background-color: #ff7621;
     height:100vh;
     justify-content: center;
 }
 
 div, body{
    display: flex;
 }

 #logo {
    height: auto;
    display: flex;
    color: #FFF;
    font-weight: bold;
    font-family: system-ui,Alatsi,'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
}

svg {
    width: 100px;
    margin-bottom: 15px;
    margin-right: 7px;
    height: auto;
}

#principal {
    align-self: center;
    width: 90%;
    height: 80vh;
    justify-content: space-between;
}

#esquerdo {
    flex-direction: column;
    justify-content: space-between;
}

#direito {
    width:100%;
    justify-content: center;
}

#texto {
    color: #FFF;
    font-weight: 600;
    font-family: Codec,'Arial Narrow Bold', sans-serif;
    font-size: 5.3rem;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;
    line-height: 4.5rem;
}

#info {
    font-family: system-ui,Alatsi,'Arial Narrow Bold', sans-serif;
    font-size: 1.7rem;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;
    font-weight:600;
}

#caixa {
    height: 100%;
    background-color: #FFF;
    border-radius: 50px;
    min-width: 300px;
    width: 55%;
}

#dados {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-family: system-ui,Alatsi,'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    color: #fa6000;
}

a {
    text-decoration: none;
    color: #fa6000
}

form {
    width: 100%;
}

button {
    background-color: #fa6000;
    color: #FFF;
    border: none;
    border-radius: 50px;
    width: 85%;
    font-size: 1.5rem;
    font-family: system-ui,Alatsi,'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    padding: 4px 0 8px 0;
    cursor: pointer;
    margin: 0.5rem 0;
}

.caixatexto {
    background-color: #dedede;
    border-radius: 50px;
    padding: 0px 1rem 0;
    width: 80%;
}

.caixatexto input{
    border:none;
    background: transparent;
    color: black;
    outline: none;
    height: 2rem;
}

.caixatexto input::placeholder {
    font-style: italic;
}

input, #principal {
    font-family: Kanit;
    font-size: 0.9rem;
    accent-color: #fa6000;
 }

#links{
    flex-direction: column;
    align-items: center;
}

.voltar {
    color: #FFF;
    position: fixed;
    left: 20px;
    top: 20px;
    font-size: 3rem;
    font-variation-settings:
      'FILL' 0,
      'wght' 1000,
      'GRAD' 300,
      'opsz' 0
}