* {
   padding: 0; 
   margin: 0
}

@font-face {
    font-family: 'Codec';
    src: url(/fonts/codec-pro-bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body{
    background-color: #ff7621;
    margin: 30px 50px;
}

#logo {
    display: flex;
    color: #FFF;
    font-weight: bold;
    font-family: Codec,'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    align-items: center;
    margin-bottom: 40px;
}

svg {
    width: 100px;
    margin-bottom: 15px;
    margin-right: 7px;
}

#texto,a {
    color: #FFF;
    font-weight: bold;
    font-family: Codec,'Arial Narrow Bold', sans-serif;
    font-size: 85px;
}

.botao,.botaod {
    background-color: #FFF;
    border-radius: 150px;
    width: 150px;
    padding: 15px;
    text-align: center;
    align-self: center;
}

.botaod{
    margin-left: auto;
    align-self: start;
}

#botao1, #botao3{
    align-self: end;
}

a {
    text-decoration: none;
    color: black;
    font-size: 21.4px;
}

#imagem{
    background-image: url(https://img.quizur.com/f/img5f0c80e0bd9d08.31973740.jpg?lastEdited=1594654954);
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    justify-self: end;
}

#grade{
    height: auto;
    width: auto;
    display: grid;
    grid-template-areas:
        "l b2"
        "t i"
        "b1 b3" ;
    grid-template-rows: auto 3fr 1.5fr;
}
