* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
 }
 
 @font-face {
     font-family: 'Codec';
     src: local('codec pro bold'), local('codec-pro-bold'),
     url(/fonts/codec-pro-bold.ttf) format('truetype');
     font-weight: 700;
     font-style: normal;
 }
 
 body{
     background-image: url(../img/home.png);
     background-repeat: no-repeat;
     background-size: cover;
     overflow: auto;
     height:100vh;
 }

 header{
    background: #FF7621;
	display: flex;
	/* Altura do elemento. */
	height: 70px;

	/* Junção de flex-grow, flex-shrink e flex-basis.  */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item.    */
	/* flex-basis – Tamanho inicial do item.           */
	flex: 1 1 100vw;

	justify-content: space-between;
		/* Ajuste fonte */
	font-weight: 800;
 }
 
 div {
     display: flex;
 }
 
 
 #texto{
     color: #FFF;
     font-weight: bold;
     font-family: Codec,'Arial Narrow Bold', sans-serif;
     font-size: 5.3rem;
     text-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;
     line-height: 5rem;
 }
 
 .botao {
     min-width: 150px;
     padding: 15px;
     text-align: center;
     margin: auto 0;
     font-family: 'Roboto Slab', serif;
     font-size: 20px;
     color: #FFF;
     
 }

 #botao2 {
    border: 2px solid#fff;
    border-radius: 100px;
    min-width: 150px;
    padding: 8px;
    text-align: center;
    margin: auto 0;
    font-family: 'Roboto Slab', serif;
    margin-right: 30px;

}

#botao2:hover{
    background-color: #FF914D;
    font-size: 22px;
}

#botao3{
    margin-right: 30px;
}

#botao1:hover, #botao3:hover{
    font-size: 22px;
}

 
 a {
     text-decoration: none;
 }
 
 #principal{
     height: 90%;
     flex-direction: column;
     padding: 20px 60px;
     justify-content: space-between;
 }
 
 .row{
     justify-content: space-between;
 }
 
nav{
    height: 15px;
    width: 100%;
    background-color: #FF914D;

}
 
 .botoes {
     gap: 10px;
 }
