* {
   padding: 0; 
   margin: 0;
   box-sizing: border-box;
}

@font-face {
    font-family: 'Codec';
    src: local('codec pro bold'), local('codec-pro-bold'),
    url(/fonts/codec-pro-bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

body{
    background-image:linear-gradient(to left, transparent, #ff7621, #ff7621), url(https://img.quizur.com/f/img5f0c80e0bd9d08.31973740.jpg?lastEdited=1594654954);
    background-repeat: no-repeat;
    background-size: cover;

    height:100vh;
}

footer{
    height: 10%;
    width: 100vw;
    background-color: black;
    color: #FFF;
    padding: 15px;
    font-family: system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
    font-size: 8px;
}

div {
    display: flex;
}

#logo {
    display: flex;
    color: #FFF;
    font-weight: bold;
    font-family: system-ui,Alatsi,'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
}

svg {
    width: 100px;
    margin-bottom: 15px;
    margin-right: 7px;
}

#texto{
    color: #FFF;
    font-weight: bold;
    font-family: Codec,'Arial Narrow Bold', sans-serif;
    font-size: 5.3rem;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;
    line-height: 5rem;
}

.botao {
    background-color: #FFF;
    border-radius: 150px;
    min-width: 150px;
    padding: 15px;
    text-align: center;
    margin: auto 0
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    text-wrap: nowrap;
    font-family: Alatsi,'Arial Narrow Bold', sans-serif;
    font-weight: 550;
}

#principal{
    height: 90%;
    flex-direction: column;
    padding: 20px 60px;
    justify-content: space-between;
}

.row{
    justify-content: space-between;
}

#fila2{
    flex: 1;
    align-items: center;
}

#fila1{
    flex-wrap: wrap;
}

.botoes {
    gap: 10px;
}
