* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
 }
 
 @font-face {
     font-family: 'Codec';
     src: url(/fonts/codec-pro-bold.ttf) format('truetype');
     font-weight: normal;
     font-style: normal;
   }

 body{
     background-color: #ff7621;
     height:100vh;
     justify-content: center;
 }
 
 div, body{
    display: flex;
 }

 #logo {
    height: auto;
    display: flex;
    color: #FFF;
    font-weight: bold;
    font-family: system-ui,Alatsi,'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
}

svg {
    width: 100px;
    margin-bottom: 15px;
    margin-right: 7px;
    height: auto;
}

#esquerdo, #dados {
    flex-direction: column;
}

#esquerdo {
    justify-content: space-around;
}

#direito {
    justify-content: center;
    background-color: #FFF;
}

#tela{
    width: 100%;
}

.lado {
    flex: 1;
    align-items: center;
}

form {
    height: 50%;
}

#dados {
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background-color: #fa6000;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: system-ui,Alatsi,'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    padding: 4px 0 8px 0;
    cursor: pointer;
    width: 100%;
}

.caixatexto {
    width: 100%;
    border: solid #fa6000;
    padding: 5px 0px;
    border-radius: 10px;
}

.caixatexto input{
    border:none;
    background: transparent;
    width: 70%;
    color: black;
    outline: none;
    font-family: Kanit;
    font-size: 1rem;
}

.caixatexto input::placeholder {
    color: #fa6000;
    font-weight: 500;
    opacity: 70%;
}

.caixatexto > i{
    width:20%;
    text-align: center;
    color: rgb(66, 66, 66);
    font-size: 1.8rem;
}

#texto, #texto2{
    color: #FFF;
    font-weight: bold;
    font-family: Codec,'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px;
    line-height: 3.2rem;
}

#texto2 {
    color: #ff7621;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.8rem;
    text-shadow: none;
    font-family: Alatsi;
    font-weight: 500;
}

 hr {
    width: 100%;
    border-top: 10px dotted #fff;
    border-bottom: none;
 }