* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
 }
 
 @font-face {
     font-family: 'Codec';
     src: url(/fonts/codec-pro-bold.ttf) format('truetype');
     font-weight: normal;
     font-style: normal;
   }

 body{
     background-color: #ff7621;
     height:100vh;
     justify-content: center;
     align-items: center;
 }
 
 div, body, form{
    display: flex;
 }

 #logo {
    height: auto;
    display: flex;
    color: #FFF;
    font-weight: bold;
    font-family: system-ui,Alatsi,'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
}

svg {
    width: 6rem;
    margin-right: 7px;
    height: auto;
}

.caixa {
    width: 500px;
    height: 350px;
    border-radius: 25px;
    background-color: #FFF;
}

#principal {
    background-color: #ff9857;
    justify-content: center;
}

button {
    background-color: #ffffff;
    color: #ff7621;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: system-ui,Alatsi,'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    padding: 4px 0 8px 0;
    cursor: pointer;
    width: 100%;
}

form {
    flex-direction: column;
    justify-content: space-evenly;
}

#caixatexto{
    border: 3px solid white;
    border-radius: 10px;
    padding: 5px 0px;
}

#caixatexto input{
    border:none;
    background: transparent;
    width: 70%;
    color: #FFF;
    outline: none;
    font-family: Kanit;
    font-size: 1rem;
}

#caixatexto input::placeholder {
    color: #FFF;
    font-weight: 400;
}

#caixatexto > i{
    width:20%;
    text-align: center;
    color: white;
    font-size: 1.8rem;
      font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 100,
      'opsz' 0
}

h1 {
    font-family: system-ui,Alatsi,'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    color: #FFF;
}

#branco{
    position: absolute;
    z-index: -1;
    transform: translate(40px, -40px);
}

.voltar {
    color: #FFF;
    position: fixed;
    left: 20px;
    top: 20px;
    font-size: 3rem;
    font-variation-settings:
      'FILL' 0,
      'wght' 1000,
      'GRAD' 300,
      'opsz' 0
}

@media only screen and (max-width: 768px) {
    #principal{
        height: 100vh;
        border-radius: 0;
    }

    form{
        justify-content: center;
        align-items: center;
        gap: 35px
    }

    #branco{
        display:none
    }

    #caixatexto{
        width: 100%;
    }
}