* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
 }
 
 @font-face {
     font-family: 'Codec';
     src: url(/fonts/codec-pro-bold.ttf) format('truetype');
     font-weight: normal;
     font-style: normal;
   }

 body{
     background-color: #ff7621;
     height:100vh;
    padding: 40px 0 0 0;
 }
 
 footer{
     height: 10%;
     width: 100vw;
     background-color: black;
     color: #FFF;
     padding: 15px;
     font-family: system-ui, -apple-system, Helvetica Neue, Arial, sans-serif, ;
     font-size: 8px;
 }
 
 div{
    display: flex;
 }

 input, #principal {
    font-family: Kanit;
    font-size: 0.9rem;
    accent-color: #fa6000;
 }

 #principal{
    flex-direction: column;
    width: 400px;
    margin: auto;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    color: #4d4d4d;
    border-radius: 30px;
    height: 80%;
    row-gap: 0.5rem;
 }

 #principal > h1 {
    font-family: system-ui,Alatsi,'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
 }

#principal > svg {
    width: 90px;
    height: auto;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.caixatexto{
    border-radius: 50px;
    background-color: #dedede;
    padding: 8px 0px;
    margin-bottom: 1.2rem;
    width: 100%;
}

.caixatexto input{
    border:none;
    background: transparent;
    width: 70%;
    color: black;
    outline: none;
}

.caixatexto input::placeholder {
    font-style: italic;
}

.caixatexto > i{
    width:20%;
    text-align: center;
    color: rgb(66, 66, 66);
    font-size: 1.8rem;
}

form {
    width:80%;
}

#lembrar-esqueceu {
    justify-content: space-between;
}

a, h1 {
    text-decoration: none;
    color: #fa6000;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #fa6000;
    color: #FFF;
    border: none;
    border-radius: 50px;
    width: 100%;
    font-size: 1.5rem;
    font-family: system-ui,Alatsi,'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    padding: 6px 0 10px 0;
    cursor: pointer;
    margin: 1.0rem 0 0.5rem 0;
}

#botao {
    width: 90%;
    margin-inline: auto;
}

.voltar {
    color: #FFF;
    position: fixed;
    left: 20px;
    top: 20px;
    font-size: 3rem;
    font-variation-settings:
      'FILL' 0,
      'wght' 1000,
      'GRAD' 300,
      'opsz' 0
}

@media only screen and (max-width: 768px) {
    #principal{
        height: 100%;
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;

    }

    body{
        padding: 0;
    }

    .voltar{
        color:#fa6000
    }
}